* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.four-menu {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  padding: 20px;
}

.mylogo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.toggle {
  width: 20px;
  height: 20px;
}

.home-page {
  background-image: url(images/illustration.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom -22%;
  background-color: #1c1a19;
  padding: 120px 20px;
}

.home-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.developer {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
  color: #fff5e1;
}

.home-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15.6px;
  line-height: 24px;
}

.social-links {
  display: flex;
  padding-left: 10px;
  margin-top: 30px;
}

.social-img {
  width: 18px;
  height: 20px;
  margin-right: 20px;
}

.second-page {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  padding-bottom: 100px;
}

.recent-work-wrap {
  margin: 80px 0;
}

.recent-work-title {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.recent-work-line {
  margin: auto;
  border: 1px solid #212121;
}

.recent-work-body {
  margin: 0;
}

.recent-work-img {
  width: 100%;
  margin-bottom: 20px;
}

.multi-post {
  color: #091e42;
}

.multi-post-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multi-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-bottom: 12px;
}

.multi-btns {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
}

.multi-btn {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 0 5px 20px;
  background: #fff;
  color: #091e42;
}

.see-project-btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  border: none;
}

.six-box-wrap {
  height: 365px;
  margin: 50px 0;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.5) 61.94%
    ),
    url(images/art.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.six-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 72px 0 0 12px;
}

.six-description {
  height: 100px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  padding: 13px;
}

.six-btns {
  display: flex;
  padding-left: 0;
  margin-left: 10px;
  margin-top: 30px;
}

.six-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
  margin: 0 5px 24px;
  border: none;
  background-color: rgba(255, 255, 255, 0.24);
}

.six-project-btn {
  width: 327px;
  height: 48px;
  display: inline-block;
  padding: 12px 101px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  border: none;
}

.about-me-section {
  background-color: #1c1a19;
  margin: 0;
  padding: 110px 24px 200px;
  background-image: url(images/about-me-illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-me-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 62px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15.3px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 36px;
  padding-right: 20px;
}

.my-resume-btn {
  background: #ff6b00;
  padding: 12px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: white;
  margin-bottom: 0;
  border: none;
}

.about-me-illustration {
  display: block;
  margin: auto;
}

.about-me-line {
  clear: both;
  border: 1px solid #fff;
  margin: 0 24px;
}

.language-section {
  padding-left: 0;
  background-color: #1c1a19;
}

.language-lists {
  padding: 120px 0 70px 0;
  margin: 0;
  width: 327px;
}

.language-wrap {
  text-align: center;
}

.language-wrap li,
h3 {
  color: #fff;
}

.language-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.language-title {
  font-family: 'InaiMathi', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.language {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  list-style-type: none;
  padding: 0;
}
