* {
  box-sizing: border-box;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #3c3a39;
  padding: 20px;
  position: relative;
}

.four-menu {
  width: 100%;
  padding: 0 5%;
  background-color: #3c3a39;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.cross {
  cursor: pointer;
}

.four-menu.active {
  display: block;
}

.four-menu li {
  width: 100%;
  border-bottom: 1px solid #6f6c6b;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #fff5e1;
  font-size: 32px;
  line-height: 44px;
  padding: 10px;
  margin-bottom: 20px;
}

.four-menu li:first-child {
  text-align: right;
  border: none;
}

.four-menu li:nth-child(4) {
  margin-bottom: 52vh;
}

.four-menu li:last-child {
  display: none;
  border: none;
}

.mylogo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.mylogo:hover {
  transform: scale(1.2);
  color: rgb(47, 255, 95);
}

.toggle {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.home-page {
  background-image: url(images/illustration.png);
  background-repeat: no-repeat;
  background-position: right 0% bottom -22%;
  background-color: #1c1a19;
  padding: 120px 20px;
}

.home-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.developer {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
  color: #fff5e1;
}

.home-description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15.6px;
  line-height: 24px;
}

.social-links {
  display: flex;
  padding-left: 10px;
  margin-top: 30px;
}

.social-img {
  width: 18px;
  height: 20px;
  margin-right: 20px;
}

.second-page {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background-color: #fff;
  padding-bottom: 100px;
}

.recent-work-wrap {
  margin: 80px 0;
}

.recent-work-title {
  color: #1c1a19;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.recent-work-line {
  margin: auto;
  border: 1px solid #212121;
}

.recent-work-body {
  margin: 0;
}

.recent-work-img {
  width: 100%;
  margin-bottom: 20px;
}

.recent-work-img:hover {
  transform: scale(1.01);
  border: 2px solid rgb(158, 3, 140);
}

.multi-post {
  color: #091e42;
}

.multi-post-title {
  font-family: 'Crete Round', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
}

.multi-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding-bottom: 12px;
}

.multi-btns {
  display: flex;
  padding-left: 0;
  margin-left: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #091e42;
}

.multi-btn {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  margin: 0 5px 20px;
  background: #fff;
  color: #091e42;
}

.see-project-btn {
  width: 124px;
  height: 48px;
  padding: 12px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.six-box-wrap {
  height: 365px;
  margin: 50px 0;
  background:
    linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.5) 61.94%
    ),
    url(images/art.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.six-box-wrap:hover {
  transform: scale(1.01);
  border: 2px solid rgb(3, 37, 158);
}

.six-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding: 72px 0 0 12px;
}

.six-description {
  height: 100px;
  font-family: 'Inter', sans-serif;
  line-height: 24px;
  padding: 13px;
}

.six-btns {
  display: flex;
  padding-left: 0;
  margin-left: 10px;
  margin-top: 30px;
}

.six-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
  margin: 0 5px 24px;
  border: none;
  background-color: rgba(255, 255, 255, 0.24);
}

.six-project-btn {
  width: 100%;
  height: 48px;
  display: inline-block;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  border: none;
  cursor: pointer;
}

.about-me-section {
  background-color: #1c1a19;
  margin: 0;
  padding: 110px 24px 200px;
  background-image: url(images/about-me-illustration.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}

.about-me-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 62px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15.3px;
  line-height: 24px;
  color: #f4f5f7;
  margin-bottom: 36px;
  padding-right: 20px;
}

.my-resume-btn {
  background: #ff6b00;
  padding: 12px;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: white;
  margin-bottom: 0;
  border: none;
}

.about-me-illustration {
  display: block;
  margin: auto;
}

.about-me-line {
  clear: both;
  border: 1px solid #fff;
  margin: 0 24px;
}

.language-section {
  padding-left: 0;
  background-color: #1c1a19;
}

.language-lists {
  padding: 120px 0 70px 0;
  margin: auto;
  width: 327px;
}

.language-wrap {
  text-align: center;
}

h3 {
  color: #fff;
}

.language-title-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.language-title {
  font-family: 'InaiMathi', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.language {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.for-hover:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  font-weight: 700;
}

.for-pressed:active {
  background-color: #e05304;
  color: #f4f1f0;
  font-weight: 700;
}

.form-section {
  background-color: #fff;
}

.form-description {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  padding: 60px 22px 30px;
}

.contact {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

[type="text"] {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  padding: 15px;
  border: none;
  margin-bottom: 15px;
  border-bottom: 1px solid #dbd8d7;
}

[type="email"] {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

[type="text"]:hover,
[type="email"]:hover {
  border-bottom: 2px solid #0beebdf8;
  padding-left: 30px;
  transition: 1s ease-in-out;
}

textarea {
  width: 100%;
  background-color: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  padding: 10px;
  color: #3c3a39;
  border: none;
  height: 114px;
  margin: 20px 0;
}

textarea:hover {
  border: 2px solid #0beebdf8;
}

.git-btn {
  width: 45%;
  height: 48px;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.03em;
  background-color: #ff6b00;
  border: none;
  margin: auto;
  cursor: pointer;
}

.form-line {
  height: 1px;
  background-color: #dfe1e6;
  margin-top: 90px;
}

footer {
  background-color: #fff;
  padding-bottom: 30px;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 30px 0 45px 0;
}

.footer-link {
  margin-right: 15px;
}

.footer-links li:nth-of-type(2) {
  margin-top: -1px;
}

.footer-links li:nth-of-type(3) {
  margin-top: 1px;
}

.footer-links li:last-child {
  margin-top: 3px;
}

.footer-line {
  width: 134px;
  height: 3px;
  background-color: #0d151e;
  border-radius: 10px;
  margin: auto;
}

.overlay {
  width: 100vw;
  height: 100vh;

  /* background-color: rgba(0,0,0,0.7); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  backdrop-filter: blur(3px);
}

.popup-container {
  width: 90%;
  margin: 12% 5%;
  top: 0;
  z-index: 9999;
  background: #fff;
  color: #333;
  padding: 15px;

  .overlay {
    display: block;
  }
}

.title-plus {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.plus {
  transform: rotate(45deg);
  color: #67798e;
  font-size: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.popup-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #172b4d;
}

.popup-btns {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  margin-top: 30px;
  display: flex;
  margin-left: -40px;
}

.popup-btn {
  border: 1px solid #8993a4;
  padding: 5px 8px;
  margin: 0 10px 24px 0;
  background: #fff;
  color: #091e42;
}

.popup-image {
  width: 100%;
  height: 23vh;
}

.popup-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  /* font-size: 16px; */
  font-size: 12px;
  line-height: 24px;
  color: #344563;
  padding: 10px 0 0;
}

.popup-description2 {
  display: none;
  margin-bottom: 0;
}

.live-source {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  background: #ff6b00;

  /* padding: 10px 5px; */
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  margin: 0;
}

.see-live {
  width: 43%;
  height: 40px;
  cursor: pointer;
}

.see-source {
  width: 51%;
  height: 40px;
  margin-left: 10px;
  cursor: pointer;
}

.ellipse img {
  vertical-align: middle;
  margin-left: 10px;
}

.popgit img {
  vertical-align: middle;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  p {
    font-family: "Inter", sans-serif;
  }

  nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding-left: 10%;
    background-color: #3c3a39;
  }

  .mylogo {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .mail {
    width: 2vw;
    vertical-align: middle;
  }

  .toggle {
    display: none;
  }

  .four-menu {
    display: flex;
    width: 30vw;
    text-align: center;
    font-weight: 600;
    padding: 0;
    background-color: #3c3a39;
    box-sizing: border-box;
    margin-left: 62%;
  }

  .four-menu li {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    border: none;
    padding: 0 5%;
    line-height: 10vh;
    margin: 0;
  }

  .social-links li {
    padding: 10px 0;
  }

  .four-menu li:first-child {
    display: none;
  }

  .four-menu li:nth-of-type(4) {
    margin-bottom: 0;
  }

  .four-menu li:last-child {
    display: block;
  }

  .home-page {
    width: 100%;
    padding: 140px 0;
    background-image: url(images/Illustration-head.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1c1a19;
  }

  .home-title {
    font-family: 'Crete Round', sans-serif;
    font-weight: 400;
    font-size: 5vw;
    line-height: 82px;
    color: #f55800;
  }

  .home {
    width: 550px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0;
  }

  .developer {
    font-weight: 500;
    font-size: 2.2vw;
  }

  .home-description {
    font-size: 1.1vw;
    line-height: 4vh;
    color: #f4f5f7;
  }

  .social-links {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  .second-page {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "wrap"
      "body"
      "six";
  }

  .recent-work-wrap {
    display: flex;
    grid-area: wrap;
  }

  .recent-work-title {
    font-family: 'Crete Round', sans-serif;
    font-size: 3vw;
    color: #091e42;
  }

  .recent-work-line {
    width: 54vw;
    margin-top: 25px;
  }

  .recent-work-img {
    width: 55%;
    height: 70vh;
    margin-bottom: 0;
    cursor: pointer;
  }

  .recent-work-body {
    display: flex;
    margin-bottom: 0;
    grid-area: body;
  }

  .multi {
    padding: 0 24px;
  }

  .multi-post-title {
    font-family: 'Crete Round', sans-serif;
    font-size: 3vw;
    color: #091e42;
  }

  .multi-description {
    font-size: 1.49vw;
    line-height: 5vh;
    padding-top: 20px;
  }

  .multi-btns {
    display: flex;
    padding: 0;
  }

  .multi-btn {
    height: 5vh;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    color: #091e42;
    background: #fff;
    border: 1px solid #8993a4;
    padding: 0 10px;
    margin: 10px 10px 20px 0;
  }

  .multi-btn:nth-of-type(1) {
    width: 4vw;
    font-size: 1vw;
    line-height: 5vh;
  }

  .multi-btn:nth-of-type(2) {
    width: 5vw;
    font-size: 1vw;
    line-height: 5vh;
  }

  .multi-btn:nth-of-type(3) {
    width: 7vw;
    font-size: 1vw;
    line-height: 5vh;
  }

  .multi-btn:nth-of-type(4) {
    width: 4vw;
    font-size: 1vw;
    line-height: 5vh;
  }

  .see-project-btn {
    width: 9vw;
    height: 7vh;
    background: #f55800;
    font-weight: 700;
    font-size: 1.1vw;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
  }

  .six-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: six;
  }

  .six-box-wrap {
    cursor: pointer;
    width: 32%;
    height: 47%;
    padding-top: 19vh;
    margin: 2.5vh 0;
  }

  .six-title {
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 2vw;
    color: #fff;
  }

  .six-description {
    font-size: 1.12vw;
    margin: 2vh auto;
  }

  .six-btns {
    display: flex;
    padding-left: 0;
    margin: 0 0 -2vh 1.5vh;
  }

  .six-btn {
    height: 6vh;
    line-height: 3vh;
    font-weight: 500;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.24);
  }

  .six-btn:first-child {
    width: 5vw;
    font-size: 1vw;
  }

  .six-btn:nth-of-type(2) {
    width: 7vw;
    font-size: 1vw;
  }

  .six-btn:last-child {
    width: 4vw;
    font-size: 1vw;
  }

  .six-box-wrap:first-child {
    background-image: url(images/art.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:first-child .professional,
  .six-box-wrap:first-child .six-btns {
    display: none;
  }

  .six-box-wrap:first-child .six-project-btn {
    width: 100%;
    height: 8vh;
    background-color: #ff6b00;
    font-weight: 700;
    font-size: 1.3vw;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 290px;
  }

  .six-box-wrap:nth-of-type(2) {
    background-image: url(images/art2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:nth-of-type(2) .six-project-btn {
    display: none;
  }

  .six-box-wrap:nth-of-type(3) {
    background-image: url(images/art1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:nth-of-type(3) .six-project-btn {
    display: none;
  }

  .six-box-wrap:nth-of-type(4) {
    background-image: url(images/art3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:nth-of-type(4) .six-project-btn {
    display: none;
  }

  .six-box-wrap:nth-of-type(5) {
    background-image: url(images/art2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:nth-of-type(5) .six-project-btn {
    display: none;
  }

  .six-box-wrap:nth-of-type(6) {
    background-image: url(images/art1.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .six-box-wrap:nth-of-type(6) .six-project-btn {
    display: none;
  }

  .about-me-section {
    background-color: #262626;
    padding: 100px 140px;
    background-position: right center;
    background-image: url(images/about-me-illustrationD.png);
  }

  .about-me-title {
    font-family: 'Crete Round', sans-serif;
    font-size: 5vw;
    letter-spacing: 0.37px;
    color: #ff6b00;
  }

  .about-me-description {
    width: 50%;
    font-size: 1.26vw;
    line-height: 32px;
    padding: 20px 0;
  }

  .my-resume-btn {
    height: 48px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2vw;
    background-color: #ff6b00;
  }

  .about-me-line {
    width: 80%;
    margin: auto;
    border: 1px solid #fff;
  }

  .language-section {
    background-color: #262626;
    padding-bottom: 50px;
  }

  .language-wrap {
    padding: 0;
  }

  .language-lists {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .language-title-wrap {
    display: flex;
    justify-content: flex-start;
  }

  .language-title-wrap h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2.3vw;
    color: #fff;
  }

  .language {
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    color: #fff;
  }

  .form-section {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 5% 10% 0;
  }

  .form-description {
    width: 34%;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    text-align: left;
    color: #172b4d;
    padding: 1% 4% 0 0;
  }

  .contact {
    width: 62%;
    margin: 0;
  }

  [type="text"],
  [type="email"] {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #dbd8d7;
  }

  textarea {
    width: 100%;
    background-color: #fbf8f7;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    color: #3c3a39;
    border: none;
    margin: 20px 0;
  }

  .git-btn {
    width: 20%;
    height: 48px;
    padding: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vw;
    letter-spacing: 0.03em;
    background-color: #ff6b00;
    border: none;
    margin-left: 0;
  }

  .form-line {
    width: 100%;
    height: 1px;
    background-color: #dfe1e6;
    margin-top: 90px;
    display: block;
  }

  footer {
    background-color: #fff;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 30px 0 0 0;
  }

  .footer-link {
    margin-right: 15px;
  }

  .footer-links li:nth-of-type(2) {
    margin-top: -1px;
  }

  .footer-links li:nth-of-type(3) {
    margin-top: 1px;
  }

  .footer-links li:last-child {
    margin-top: 3px;
  }

  .footer-line {
    display: none;
  }

  .popup {
    width: 100%;

    /* height: 631px; */
    margin: auto;
    padding: 20px;
  }

  .popup-container {
    width: 80%;
    margin: 6% 10%;
    background: #fff;
    color: #333;
    padding: 20px;
  }

  .title-plus {
    display: flex;
    justify-content: space-between;
  }

  .plus {
    transform: rotate(45deg);
    color: #67798e;
    font-size: 30px;
    margin-right: 10px;
  }

  .popup-title {
    font-family: "Crete Round", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin-bottom: 0;
  }

  .popup-btns {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;

    /* color: #3C3A39; */
    margin: 0 0 10px -40px;
    display: flex;
    justify-content: left;
  }

  .popup-btn {
    border: 1px solid #8993a4;
    padding: 6px 8px;
    margin-right: 10px;
    background: #fff;
    color: #091e42;
  }

  .displayPC {
    width: 100%;
    display: flex;
  }

  .popup-image {
    width: 55%;
    height: 55vh;
  }

  .pdes {
    width: 45%;
    height: 55vh;
    padding-left: 10px;
  }

  .popup-description {
    font-family: 'Inter', sans-serif;
    font-weight: 400;

    /* font-size: 16px; */
    font-size: 1.1vw;
    line-height: 4vh;
    color: #344563;
    padding: 0 10px;
  }

  .popup-description2 {
    display: block;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    line-height: 4vh;
    color: #344563;

    /* padding: 0px 10px 70px; */
    padding: 0 10px;
  }

  .see-live {
    width: 26%;
    height: 45px;
    cursor: pointer;
  }

  .see-source {
    width: 32%;
    height: 45px;
    cursor: pointer;
  }

  .live-source {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1vw;
    background: #ff6b00;
    padding: 2%;
    letter-spacing: 0.03em;
    color: #fff;
    border: none;
    margin: 15% 0 0 2%;
  }

  .ellipse img {
    width: 15%;
    vertical-align: middle;
  }

  .popgit img {
    width: 15%;
    vertical-align: middle;
  }
}
